@model IEnumerable<Ders>
@{
    ViewData["Title"] = "Index";
}

<h1>Ders İşlemleri</h1>
<a asp-action="CreateLesson" asp-controller="Lesson" class="btn btn-outline-primary">Ders Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th>Kredi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Dersad</td>
                <td>@item.Kredi</td>
                <td>
                    <form asp-action="AddLesson2" asp-controller="StudentLesson" method="post">
                        <input type="hidden" name="Ogrenciid" value="@ViewBag.Ogrenciid" />
                        <input type="hidden" name="Dersid" value="@item.Dersid" />
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Öğrenci ID: @ViewBag.Ogrenciid</p>



